* {
  box-sizing: border-box;
}

#page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100vw;
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-position: top;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 100vh;
}

#col1 {
    background-color: rgb(163, 163, 194, .9);
    margin: 2px;
}

#col2 {
    background-color: white;
    margin: 2px;
}

.slider {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 102, 102, .7);
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}

.draw-type {
    margin: 5px;
}

