.flex-container {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* page header */
header {
    height: 35vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/header-background.jpg);
    background-size: cover;
    background-position: top;
    align-items: center;
}

#title {
	color: white;
	text-align: center;
	font-family: "Roboto Slab", serif;
	font-size: 40px;
}

