#page-header {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100vw;
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-position: top;
}

#simulator {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#title {
	color: white;
	text-align: center;
	font-family: "Roboto Slab", serif;
	font-size: 40px;
}

.option {
    margin: 10px;
}

#canvas {
    margin-left: 10px;
}


